* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 320px) and (max-width: 414px) {
  body {
    margin: auto;
    padding: 15px;
    width: 320px;
  }
  body .section {
    width: 100%;
  }
  body .section h2 {
    text-align: center;
  }
  body .portfolio ul {
    padding-left: 0;
  }
  body .portfolio ul li {
    margin-left: -10px;
  }
  body .portfolio ul li img {
    width: 75%;
    margin-left: 48px;
  }
  body .portfolio ul li .skills {
    margin-left: 20px;
    margin-top: -115px;
  }
  body .portfolio ul li .skills .fab {
    font-size: 25px;
  }
  body .portfolio ul li .projectTitle,
  body .portfolio ul li .descMobile {
    text-align: center;
    margin: auto;
  }
  body .portfolio ul li .projectTitle {
    padding-top: 20px;
    padding-bottom: 0;
    width: 240px;
    margin-bottom: 10px;
    padding-right: 10px;
  }
  body .contact {
    text-align: center;
  }
  body .contact ul {
    padding-left: 0;
  }
  body .contact ul li {
    padding: 10px;
  }
}

@media screen and (min-width: 375px) and (max-width: 414px) {
  body {
    padding: 0;
  }
  .portfolio ul li a img {
    width: 85%;
    margin-left: 35px;
  }
  .portfolio ul li .skills {
    margin-left: 3px !important;
    margin-top: -140px !important;
  }
  .portfolio ul li .skills .fab {
    font-size: 30px !important;
  }
  .contact {
    text-align: center;
  }
  .contact ul li a {
    padding: 6px;
  }
  .contact ul li a .fa,
  .contact ul li a .fab {
    font-size: 41px;
  }
}

body {
  margin: auto;
  font-family: raleway;
}

main {
  margin-top: 50px;
  margin-right: 0;
}

main p {
  font-weight: 340;
  font-size: 18px;
}

.header img {
  margin: auto;
  display: block;
  width: 250px;
  position: relative;
}

.section {
  width: 400px;
  margin: auto;
  padding-bottom: 20px;
}

.section h2 {
  border-bottom: 2px solid #cb6225;
  font-family: Sacramento;
  font-size: 50px;
  color: #2e2e2e;
}

.emptyFlex1,
.emptyFlex2,
.emptyFlex3 {
  display: none;
}

.bio {
  padding-top: 30px;
}

.bio p {
  line-height: 23px;
}

.headline {
  font-weight: 450;
  font-size: 18px;
}

.portfolio li {
  list-style-type: none;
  margin-left: 17px;
}

.portfolio li a {
  text-decoration: none;
  color: #2e2e2e;
  font-size: 18px;
}

.portfolio li a:hover {
  color: #cb6225;
}

.portfolio li .skills {
  position: absolute;
  margin-left: -37px;
  margin-top: -155px;
}

.portfolio li .skills .fab {
  display: block;
  font-size: 35px;
  padding-bottom: 3px;
  color: #cb6225;
}

.portfolio li .skills .fa-html5,
.portfolio li .skills .fa-css3-alt {
  padding-left: 2px;
}

.portfolio li .projectTitle {
  padding-left: 15px;
  padding-bottom: 5px;
  top: -15px;
  position: relative;
  border-bottom: 1px solid #cb6225;
  width: 300px;
  font-family: Alegreya;
}

.portfolio li .projectTitle a {
  font-size: 21px;
}

.portfolio li .descMobile {
  width: 300px;
  position: relative;
  padding: 75px 15px 0 15px;
  top: -90px;
  height: 120px;
}

.portfolio li img {
  border: 1px solid black;
  border-radius: 10px;
}

.portfolio li img:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.contact {
  padding-bottom: 90px;
}

.contact li {
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  padding: 10px 52px 0 0;
}

.contact li i {
  font-size: 35px;
  color: #2e2e2e;
}

.contact li i:hover {
  opacity: 70%;
}

@media screen and (min-width: 860px) {
  .divider {
    width: 1px;
    height: 170vh;
    margin: auto;
    position: absolute;
    left: 50%;
    background-color: #2e2e2e;
    margin-top: -30px;
    z-index: -1;
  }
  .flexContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 860px;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    margin: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section {
    padding-bottom: 0;
  }
  .emptyFlex1,
  .bio {
    height: 430px;
  }
  .portfolio {
    text-align: right;
    margin-right: 40px;
    margin-top: 150px;
  }
  .portfolio li {
    margin-left: 0;
  }
  .portfolio ul li .skills {
    margin-left: 22px !important;
  }
  .portfolio ul li .skills .fa-html5,
  .portfolio ul li .skills .fa-css3-alt {
    padding-right: 2px;
  }
  .portfolio p.projectTitle {
    display: block;
    top: -18px;
    right: 10px;
    padding-bottom: 0;
    margin-left: 55px;
    border-bottom: none;
  }
  .portfolio .descMobile {
    display: none;
  }
  .portfolio,
  .emptyFlex2 {
    height: 130px;
  }
  .emptyFlex2 {
    position: relative;
    top: 220px;
    padding-right: 106px;
    line-height: 21px;
    font-size: 16px;
  }
  .emptyFlex2 .descBackground {
    background-color: rgba(46, 46, 46, 0.1);
    border-radius: 10px;
    width: 450px;
    position: absolute;
    right: 100px;
    z-index: -1;
  }
  .emptyFlex2 .calvinQuizBorder {
    height: 152px;
    top: 13px;
  }
  .emptyFlex2 .calvinQuizDesc {
    top: 48px;
    position: relative;
    padding-right: 1px;
  }
  .emptyFlex2 .portfolioBorder {
    height: 151px;
    top: 233px;
  }
  .emptyFlex2 .oldPortfolioDesc {
    top: 161px;
    position: relative;
    padding-right: 16px;
  }
  .emptyFlex3,
  .contact {
    height: 150px;
  }
  .contact {
    margin: 445px 0 100px 0;
  }
  .bio,
  .contact {
    margin-left: 40px;
  }
  .emptyFlex1,
  .emptyFlex2,
  .emptyFlex3 {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */