* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 375px) {
  body {
    background-color: green;
    margin: 10px;
  }
}

body {
  margin: 0;
  font-family: raleway;
}

main {
  margin-top: 50px;
}

main p {
  font-weight: 340;
  font-size: 18px;
}

.header img {
  margin: auto;
  display: block;
  width: 250px;
  position: relative;
}

.section {
  width: 400px;
  margin: auto;
  padding-bottom: 20px;
}

.section h2 {
  border-bottom: 2px solid #CB6225;
  font-family: Sacramento;
  font-size: 50px;
}

.emptyFlex1, .emptyFlex2, .emptyFlex3 {
  display: none;
}

.bio {
  padding-top: 30px;
}

.bio p {
  line-height: 23px;
}

.headline {
  font-weight: 450;
  font-size: 18px;
}

.portfolio li {
  list-style-type: none;
}

.portfolio li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.portfolio li a:hover {
  color: #CB6225;
}

.portfolio li .skills {
  position: absolute;
  margin-left: -37px;
  margin-top: -155px;
}

.portfolio li .skills .fab {
  display: block;
  font-size: 35px;
  padding-bottom: 3px;
  color: #CB6225;
}

.portfolio li .skills .fa-html5, .portfolio li .skills .fa-css3-alt {
  padding-left: 2px;
}

.portfolio li .projectTitleMobile {
  padding-left: 15px;
  padding-bottom: 15px;
  top: -15px;
  position: relative;
  border-bottom: 1px solid #CB6225;
  width: 300px;
  font-family: Alegreya;
}

.portfolio li .projectTitleMobile a {
  font-size: 21px;
}

.portfolio li .projectTitleDesktop {
  display: none;
}

.portfolio li .descMobile {
  width: 300px;
  position: relative;
  padding: 75px 15px 0 15px;
  top: -90px;
  height: 120px;
}

.portfolio li img {
  border: 1px solid black;
  border-radius: 10px;
}

.portfolio li img:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.contact {
  padding-bottom: 90px;
}

.contact li {
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  padding: 10px 52px 0 0;
}

.contact li i {
  font-size: 35px;
  color: black;
}

.contact li i:hover {
  opacity: 60%;
}

@media screen and (min-width: 860px) {
  .divider {
    width: 1px;
    height: 160vh;
    margin: auto;
    position: absolute;
    left: 50%;
    background-color: #2E2E2E;
    margin-top: -30px;
    z-index: -1;
  }
  .flexContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 860px;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    margin: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section {
    padding-bottom: 0;
  }
  .emptyFlex1, .bio {
    height: 430px;
  }
  .portfolio {
    text-align: right;
    margin-right: 40px;
    margin-top: 150px;
  }
  .portfolio ul li .skills {
    margin-left: 22px !important;
  }
  .portfolio ul li .skills .fa-html5, .portfolio ul li .skills .fa-css3-alt {
    padding-right: 2px;
  }
  .portfolio p.projectTitleDesktop {
    display: block;
    top: -18px;
    right: 10px;
    position: relative;
    font-family: Alegreya;
  }
  .portfolio p.projectTitleDesktop a {
    font-size: 21px;
  }
  .portfolio .descMobile {
    display: none;
  }
  .portfolio .projectTitleMobile {
    display: none;
  }
  .portfolio, .emptyFlex2 {
    height: 130px;
  }
  .emptyFlex2 {
    position: relative;
    top: 220px;
    padding-right: 106px;
    line-height: 21px;
    font-size: 16px;
  }
  .emptyFlex2 .descBackground {
    background-color: rgba(46, 46, 46, 0.1);
    border-radius: 10px;
    width: 450px;
    position: absolute;
    right: 100px;
    z-index: -1;
  }
  .emptyFlex2 .calvinQuizBorder {
    height: 152px;
    top: 13px;
  }
  .emptyFlex2 .calvinQuizDesc {
    top: 47px;
    position: relative;
  }
  .emptyFlex2 .portfolioBorder {
    height: 151px;
    top: 233px;
  }
  .emptyFlex2 .oldPortfolioDesc {
    top: 161px;
    position: relative;
    padding-right: 16px;
  }
  .emptyFlex3, .contact {
    height: 150px;
  }
  .contact {
    margin: 405px 0 100px 0;
  }
  .bio, .contact {
    margin-left: 40px;
  }
  .emptyFlex1, .emptyFlex2, .emptyFlex3 {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */